.cover__link {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  text-align: center;
  align-items: center;
  width: 100%;
}