.cover {
  aspect-ratio: 8/5;
  margin: 92px 48px 0 48px;
  display: flex;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  position: relative;
  justify-content: center;
}

.cover::before {
  content: "";
  background: #2A2C2F;
  opacity: .3;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
}

.cover:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1280px) {
  .cover {
    margin: 92px 0 0 0;
  }
}
@media screen and (max-width: 1024px) {
  .cover {
    margin: 90px 0 0 0;
  }  
}



@media screen and (max-width: 768px) {
  .cover {
    margin: 66px 0 0 0;
  }
}