.footer {
  display: flex;
  margin: 92px 48px 24px;
  justify-content: space-between;
  padding: 0;
}


@media screen and (max-width: 1024px) {
  .footer {
    margin: 82px 48px 24px 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 730px) {
  .footer{
    margin: 64px auto 24px 16px;
    flex-direction: column;
    max-height: max-content;
    max-width: max-content;
  }  
}
